@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
}

nav {
    background-color: #1d1d1d;
    padding: 20px 50px;
    color: white;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchBar {
    background-color: transparent;
    border: 0;
    color: white;
}

.searchBar::placeholder {
    color: lightgray;
}

.searchBar:focus {
    outline: none;
}

.search > img {
    cursor: pointer;
}

.limitedOffer {
    font-size: 20px;
    text-decoration: 2px underline green;
    cursor: pointer;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    color: white;
    transition: all 1.5s ease-in-out;
}

.sliderItem {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sliderBG {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}

.sliderImg {
    z-index: 1;
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}

.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 1px solid gray;
    z-index: 1;
}

.buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    border: 1px solid gray;
    z-index: 1;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.buyButton:hover {
    background-color: white;
    color: black;
}

.sliderItem:nth-child(1) .sliderBG {
    background-color: #369e62;
}

.sliderItem:nth-child(2) .sliderBG {
    background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderBG {
    background-color: teal;
}

.sliderItem:nth-child(4) .sliderBG {
    background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderBG {
    background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
    color: #369e62;
}

.sliderItem:nth-child(2) .sliderPrice {
    color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderPrice {
    color: teal;
}

.sliderItem:nth-child(4) .sliderPrice {
    color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderPrice {
    color: rgb(124, 115, 80);
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureImg {
    width: 50px;
    height: 50px;
}

.featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDesc {
    color: gray;
    width: 50%;
    height: 100px;
}

.product {
    height: 100vh;
    background-color: whitesmoke;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    position: relative;
}

.productImg {
    width: 50%;
}

.productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle {
    font-size: 75px;
    font-weight: 900;
}

.productPrice {
    font-size: 30px;
    margin: 50px 0px;
}

.productDesc {
    color: gray;
    font-size: 24px;
}

.colors, .sizes {
    display: flex;
    margin-bottom: 30px;
}

.color {
    width: 40px;
    height: 40px;
    background-color: black;
    margin: 20px 10px 0px 0px;
    border-radius: 5px;
    cursor: pointer;
}

.color:last-child {
    background-color: darkblue;
}

.size {
    margin-right: 20px;
    font-size: 30px;
    font-weight: 600;
    border: 1px solid black;
    padding: 5px 20px;
    cursor: pointer;
}

.buyProduct {
    float: right;
    background-color: black;
    color: white;
    padding: 20px;
    border: 2px solid gray;
    cursor: pointer;
}

.buyProduct:hover {
    background-color: white;
    color: black;
}

.payment {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    background-color: white;
    -webkit-box-shadow: -2px 2px 54px -18px rgba(0,0,0,0.58);
    -moz-box-shadow: -2px 2px 54px -18px rgba(0,0,0,0.58);
    box-shadow: -2px 2px 54px -18px rgba(0,0,0,0.58);
}

.payTitle {
    font-size: 30px;
    color: lightgray;
}

label {
    font-size: 20px;
    font-weight: 300;
}

.payInput {
    border: 0;
    border-bottom: 1px solid gray;
    padding: 10px;
    margin: 10px 0px;
}

.payInput::placeholder {
    color: rgb(170, 170, 170);
}

.payInput:focus {
    outline: 1px solid gray;
    border-radius: 10px;
}

.cardIcons {
    display: flex;
}

.cardIcon {
    margin-right: 10px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}

.sm {
    width: 20%;
}

.payButton {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: -5%;
    left: 0;
    -webkit-box-shadow: -2px 2px 54px -18px rgba(0,0,0,0.58);
    -moz-box-shadow: -2px 2px 54px -18px rgba(0,0,0,0.58);
    box-shadow: -2px 2px 54px -18px rgba(0,0,0,0.58);
    background-color: #369e62;
    color: white;
    border: 0;
    cursor: pointer;
}

.payButton:hover {
    background-color: #236d42;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}

.gallery {
    display: flex;
    padding: 50px;
}

.galleryItem {
    padding: 50px;
    flex: 1;
}

.galleryImg {
    width: 100%;
}

.galleryTitle {
    margin: 10px 0px;
}

.newSeason {
    display: flex;
}

.nsItem {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nsImg {
    width: 100%;
    height: 600px;
}

.nsTitle {
    font-size: 40px;
    margin: 30px 0px;
}

.nsButton {
    padding: 15px 20px;
    font-weight: 900;
    font-size: 20px;
    background-color: rgb(182, 182, 182);
    border: 0;
    cursor: pointer;
}

.nsButton:hover {
    background-color: gray;
}

footer {
    display: flex;
}

.footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.fMenuTitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.fList {
    list-style: none;
    padding: 0;
}

.fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}

.footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.fInput {
    padding: 5px;
}

.fButton {
    padding: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.fIcons {
    display: flex;
}

.fIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.copyright {
    font-weight: 300;
    font-size: 15px;
}

@media screen and (max-width:480px) {
    nav {
        padding: 20px;
    }

    .search {
        display: none;
    }

    .navBottom {
        flex-wrap: wrap;
    }

    .menuItem {
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }

    .slider {
        clip-path: none;
    }

    .sliderImg {
        width: 90%;
    }

    .sliderBG{
        width: 100%;
        height: 100%;
    }

    .sliderTitle{
        display: none;
    }

    .sliderPrice {
        top: unset;
        left: 0;
        bottom: 0;
        background-color: lightgray;
    }

    .buyButton {
        right: 0;
        top: 0;
    }

    .features {
        flex-direction: column;
    }

    .product {
        clip-path: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
    }

    .productImg {
        width: 80%;
    }

    .productDetails {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
    }

    .productTitle {
        font-size: 50px;
        margin: 0;
    }

    .gallery {
        display: none;
    }

    .newSeason {
        margin-top: 150px;
        flex-direction: column;
    }

    .nsItem:nth-child(2) {
        padding: 50px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footerLeft {
        padding: 20px;
        width: 90%;
    }

    .footerRight {
        padding: 20px;
        width: 90%;
        align-items: center;
        background-color: whitesmoke;
    }

    .payment {
        width: 90%;
        padding: 20px;
    }
}